html {
    font-family: 'Redressed', cursive;;
    color:lightslategrey;
}

.background {
    /*background: #E6E6E6; */
    background: rgba(230, 230, 230, 0.7)
    
}

header{
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h1{
    margin: 0;
    padding: 15px;
}

li{
    list-style: none;
    padding: 10px;
}

ul{
    padding: 0;
}

.journey-img{
    background: url(../images/background.jpg) no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.journey-text{
    text-align: center;
    font-size: 2em;
    padding: 1.5em;
    border-radius: 10px;

}

a {
    text-decoration: none;
    color: lightslategrey;

}

.wrapper{
    display: flex;
    flex-direction: column;
}
article, .sidebar-widget{
    margin: 15px 0;
    padding: 15px;
}

article > header{
    background: #d8d8d8;
}

i {
    margin: 0 5px;
}
a:hover{
    color: blue;
}

td:nth-child(2){
    padding-left: 30px;
}

.profile-img{
        background: url(../images/profile.jpg) no-repeat center center fixed;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
}

.about-me-text{
    font-size: 1.55em;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1000px;
}

.footer{
    background-color: #1b252f;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

section {
    font-size: 1.5em;
}

.more{
    text-align: center;
}

.more-title{
    padding-bottom:25px;
}

.more-ul{
    padding-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 1.75em;
}

article h2{
    font-size: 2em;
}
.more-p{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
    
}

nav ul li {
    position: relative;
}

nav ul li ul{
    display: none;
    position: absolute;
    background: #d8d8d8;
}
nav ul li:hover ul{
    display: block;
}

.table-contents{
    display: flex;
    flex-direction: column;
}

.content-contents{
    display:none;
}
.content-contents h2:hover{
    display: block;
}

.img-d{
    background: url(../images/darwin.jpg) no-repeat center center fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.the-big{
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1000px;
}

.the-big p{
    font-size: 1.55em;
    font-weight: 10;
}

blockquote div{
    padding: 10px 0;
} 
blockquote{
    font-size: 1.35em;
}
.r-images{
    display: flex;
    flex-direction: column;
}

.r-text{
    margin: 0 15px 15px;
}
.final-pic{
    margin-top: 15px;
}
.times-t{
    text-align: center;
}
.nytimes-i{
    background: url(../images/nytimes.jpg) no-repeat center center ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.nytimes-q{
    font-size: 1.4em;
}
.nytimes-q-1{
    font-size: 1.6em;
}
.e-news-emoji{
    display: none;
    font-size: 25em;
}
.book-top{
    padding-left: 15%;
    padding-right: 15%;
}
.book-top img{
    padding-top: 25px;
    margin: 25px auto ;
    display: block;
}
.book-top h1{
    text-align: center;
    color: black;

}
.book-top hr{
    color: green;
    margin: 0 25%;

}
.book-top p{
    font-size: 2em;
    padding: 25px 0;
}
.book-main{
    margin: 0 20%;
}
.book-main p{
    font-size: 1.8em;
}
footer h1{
    font-size: 1em;
}
.book-main ol{
    font-size: 1.8em;
}
footer{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}
footer h1 a{
    text-align: center;
}
@media (min-width: 1000px) {
    body{
        max-width: 1600px;
        margin: 0 auto;

    }

    header{
        flex-direction: row;
    }

    header li{
        display: inline-block;
    }

    header h1, header nav{
        flex: 1;

    }

    header h1{
        text-align: left;
    }

    header nav{
        text-align: right;
    }

    /* blog*/
    .wrapper{
        flex-direction: row;
    }
    main{
        flex: 3;
        
    }
   
    aside{
        flex: 1;
        margin-left: 15px;
    }
    article > header{
        justify-content: space-around;
    }

    .footer{
        flex-direction: row;
    }
    .more-ul{
        flex-direction: row;
    }

    .table-contents{
        flex-direction: row;
    }
    .r-images{
        flex-direction: row;
    }
    footer{
        flex-direction: row;
    }
   

}