<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sam Beacher's Blog</title>
        <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome/css/all.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header class="background">
            <h1>Sam Beacher's Blog</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-me.html">About Me</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </nav>
        </header>
        
    <main class= "more">
        <h1 class="more-titles">Sample Fiction Template</h1>

        <ul class="more-ul">
            <li>Blog post #</li>
            <li>Book author:</li>
            <li>Genre: Sci-Fi</li>
        </ul>
    <article>
        <h2>Summary:</h2>
        <p>This is the summary section.</p>

        <h2>How I discovered the book:</h2>
        <p>This is how I discovered it.</p>

        <h2>My Thoughts:</h2>
        <p>These are my thoughts.</p>
        <h2>What I liked about it?</h2>
        <p>This is what was great!</p>

        <h2>What I didn't like about it?</h2>
        <p>Nothing to see here.</p>

        <h2>Who would like it?</h2>
        <p>Anyone!</p>

        <h2>Related books and links.</h2>
        <p><a href= "">Here are some links.</a></p>
    </article>

    </main>
    <footer class="footer">
        <p class= "footer">	&#169; Samuel Beacher 2021 &emsp; ︱ 
        Email: 23Samuelb@lrei.org &nbsp; ︱
        </p>
    </footer>