<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sam Beacher's Blog</title>
        <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome/css/all.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

        <header class="background">
            <h1><a href="blog.html">Sam Beacher's Blog</a></h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-me.html">About Me</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="#">Recent Posts</a>
                    <ul>
                        <li><a href="ready-player-two.html">Ready Player Two</a></li>
                        <li><a href="the-toll.html">The Toll</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main class= "more">
            <h1 class="more-titles">The Toll</h1>
    
            <ul class="more-ul">
                <li>Blog post #2</li>
                <li>Book author: Neal Schusterman</li>
                <li>Genre: Fantasy</li>
            </ul>
            <div class="table-contents">
                <h1 class="content-header">Contents <nbsp></nbsp>&#8964;</h1>
                <div class="content-contents">
                   <h2>1. Overall Thoughts</h2>

                </div>

            </div>

            <article>
                <h2 id="#">Overall Thoughts:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam facere dolorem at neque dignissimos numquam, vero corporis assumenda inventore nihil ipsam amet fugit explicabo voluptates accusamus laborum beatae. Reiciendis, expedita?</p>
            </article>


    <footer class="footer">
        <p class= "footer">	&#169; Samuel Beacher 2021 &emsp; ︱ 
        Email: 23Samuelb@lrei.org &nbsp; ︱
            </p>
    </footer>
</html>